<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pd.odls" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".login.LoginActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".scale.ABCEvaluationActivity" />
		<activity android:name=".scale.FallsEvaluationActivityy" />
		<activity android:name=".main.MainControlActivity" />
		<activity android:name=".registry.RegistryActivity" />
		<activity android:name=".test.TestListActivity" />
		<activity android:name=".test.handtremor.HandTremorTestActivity" />
		<activity android:name=".test.legtremor.LegTremorTestActivity" />
		<activity android:name=".test.gait.GaitTestActivity" />
		<activity android:name=".test.tapping.TappingTestActivity" />
		
		<activity android:name=".main.Preferences" android:label="Preferences"></activity>
		<activity android:name=".test.TestHistoryListActivity" />
	</application>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>